img{
    height:600px;
    text-align:center;
    height:350px;
}
h1{
    color: purple;
    font-family: 'Kaushan Script', cursive;
    font-size:100px;
    text-align:center;


   
   
  
}
body{
    background-color:pink;
    font-family: 'Kaushan Script', cursive;
    text-align:center;
    font-family: 'Baskervville', serif;
   font-family: 'Baskervville', serif;
   font-family: 'Baskervville', serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Merriweather', serif;
color: red;
}
p {
    font-size:50px;
    
}